:root{
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; 
}

body{
    background-color: #212121; 
}
.wrapper{
    display:flex;
    flex-direction: row;
    height: inherit;
    padding-bottom: 20px;
}

.sidebar{
    position: sticky;
    font-family: "Poppins", sans-serif;
    flex:1.2;
    background: #2196F3;
    box-shadow: 0px 0px 45px 0px rgba(0, 0, 0, 0.6);
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 5px;
    text-align: center;
    color: whitesmoke;

}
.right-wrapper{
    flex:5;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-right: 20px;
}
.nav-bar{
    background: #2196F3;
    box-shadow: 0px 0px 45px 0px rgba(0, 0, 0, 0.6);
    padding:10px;
    height: 50px;
    overflow: hidden;
    margin-left: 20px;
    border-radius: 5px;
    color:white;
}

.nav-bar button{
    border: none;
    background-color: inherit;
    box-shadow: none;
    font-size: 20px;
    cursor: pointer;
    display: inline-block;
}

.nav-bar button:hover{
    color: black;
}
.main{
    height: inherit;
    width: inherit;
    display: flex;
    flex-direction: row;
    flex: 3;
    font-family: sans-serif;
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 5px;
    transition: 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
    text-align: center;
    color: whitesmoke;
}
.sub{
    font-family: sans-serif;
    padding:20px;
    width: inherit;
    height: inherit;
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    margin-top: 20px;
    align-items: flex-start;
}
.content{
 
}

.contentp{
   display: none;
}

.info-wrapper{
    align-self: stretch;
    margin-right: 15px;
    border-radius: 5px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.6);
    flex: 3;
}
.info-table {
    background: #363636;
    padding:20px;
    color: #fff;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    text-align: center;
  }

.info-table th, td::before {
      color: white;
}
.schedule {
    text-align: left;
    color: white;
    background: #363636;
    padding: 20px;;
    border-radius: 5px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.6);
}
.holder{
    display: flex;
    flex-direction: column;
}
.add-resources {
    
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.6);
    background: #363636;
    color: white;
}