.container {
    display: flex;
    flex-direction: row;
    margin: 0px;
    padding: 0px;
    background-color: whitesmoke; 
 }

 .course_name{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2rem;
 }

 .course_name a{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
    color: black;
 }
.left_column { 
    background-color: white;
    flex:1;
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 10px;
    vertical-align: top
}

.left_column_top {
    text-align: center;
    color: black;
}

.portrait{
    border: 2px solid;
    margin: 15px;

}

.left_column_top_text{
    font-size: 2rem;
}

.left_column_description{
    list-style: none;
}
.left_column_description li{
    margin: 0;
    padding: 0;

}
.email::before{
    display: inline-block;
    content: " ";
    height: 40px;
    width: 40px;
    margin-right: 5px;
    background-image: url('letter.png');
    background-size: 100%;
    vertical-align: middle;
}
.email{
    display: block;
    font-size: 1.3rem;
    
}

.left_column_description_title::before{
    display: inline-block;
    content: " ";
    height: 40px;
    margin-right: 5px;
    width: 40px;
    background-image: url('brief.png');
    background-size: 100%;
    vertical-align: middle;
}
.left_column_description_title{
    display: block;
    font-size: 1.3rem;
}

.right_column {
    background-color:whitesmoke;
    flex:3;
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
}

.right_column_block_one {
    background-color: white;
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 15px;
}
.discussion_title{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2rem
}

.discussion_links{
    display: flex;
}

.worksheet{
    margin-left: 2rem
}
.slides{
    margin-left: 2rem
}

.right_column_block_two{
    background-color: white;
    padding: 15px;
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.resources_title{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2rem
}

.right_column_block_zero a{
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.right_column_block_zero {
    background-color: white;
    overflow: hidden;
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 15px;
}
.right_column_block_zero a:hover {
    background-color: #ddd;
    color: black;
  }
.right_column_block_zero a.active{
    background-color: rgb(92, 92, 92);
  color: white;
}
